.form{
    margin: 10px;
}
.form__header{
    background: white;
    border: 1px solid #eee;
    height: 80px;
}

.form__headerText{
margin: 20px;
}

.form__content{
    background: white;
    border: 1px solid #eee;
    display: grid;
    height: 100px;
    grid-template-columns: 5fr 1fr;
    justify-content: center;
    align-items: center;
}

.form__input,.form__button{
    margin: 20px;
    border: 2px solid #eee;
    padding: 20px;
    height: 50px;
}

.form__button{
    background: teal;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.form__button:hover{
    background: #00abab; 
}

@media (max-width: 960px) {
    .form__content{
        display: grid;
        height: 150px;
        grid-template-rows: 75px 75px;
        grid-template-columns: 1fr;
    }

    .form__button{
        padding: 10px;
        grid-row: 2;
    }
    
}