.taskList__header{
    background: white;
    border: 1px solid #eee;
    display: grid;
    height: 80px;
    margin: 0 10px 0 10px;
    grid-template-columns: "200px 1fr auto";
}

.taskList__headerText{
    margin: 20px;
}

.taskListHeader__removeButton{
    background: none;
    border: none;
    cursor: pointer;
    color: teal;
    font-size: 18px;
    grid-column:3; 
}

.taskListHeader__removeButton:hover{
    color: rgb(4, 201, 201);
}


.taskList__container{
    align-items: center;
    background: white;
    border: 1px solid #eee;
    padding: 40px 0 40px 0;
    margin: 0 10px 0 10px;
    min-height: 100px;
    justify-content: center;
}

.taskList__task{
 align-items: center;
 border-bottom: 2px solid #eee;
 display: grid;
 font-size: 20px;
 margin: 0 20px 0 20px;
 grid-template-columns: auto 1fr auto;
}

.taskList__task--lineTrough{
    text-decoration: line-through;
}

.tasklist{
    margin: 10px 0 10px 0;
}

.js-done{
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    height: 30px;
    margin: 10px;
    text-decoration: none;
    width: 30px;
}

.js-done:hover{
    background-color: #05aa05;
}

.js-remove{
    background-color: #ff0048;
    border: none;
    color: white;
    cursor: pointer;
    height: 30px;
    margin: 10px;
    width: 30px;
}

.js-remove:hover{
    background-color: #b90437;
}

.js-tasks{
    margin: 0;
    padding: 0;
}